*.py[cod]
__pycache__/
*.so
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.venv/
venv/
ENV/

# Django stuff:
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Log files
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django secret key
.env

# Static files
staticfiles/
.vercel
